<div class="back-button-container">
  <a routerLink="/" fragment="articles" class="back-button">↩ Back</a>
</div>
<div class="article-container" *ngIf="selectedArticle">
  <h1>{{ selectedArticle.title }}</h1>
  <div class="article-image" *ngIf="selectedArticle.image">
    <img [src]="selectedArticle.image" [alt]="selectedArticle.imageAlt || selectedArticle.title" />
  </div>
  <div class="article-content" [innerHTML]="articleContents"></div>
</div>
<div class="article-container" *ngIf="!selectedArticle">
  <p>Articolul nu a fost găsit.</p>
</div>
