@use '../../styles/article-shared' as article;

@include article.article-layout;

.article-image {
  margin: 1.5rem 0;
  text-align: center;
}

.article-image img {
  max-width: 100%;
  max-height: 35rem;
  width: auto;
  height: auto;
  display: inline-block;
  border-radius: 0.5rem;
}
