.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  background:url(../assets/images/bg-body.gif) no-repeat center top;
  font-family: Arial, sans-serif;  
}

.content {
  flex: 6;
  padding: 0 1rem 1rem 1rem;
  background:url(../assets/images/bg-content3.jpg) repeat-x #90C5E7;

  display: flex;
  flex-direction: column;
}

.content-header,
.content-footer {
  flex: 0 0 auto;   /* natural height */
}

html {
  scroll-behavior: smooth;
}