/*------------------------- Font ------------------------*/ 
@font-face {
    font-family: 'RokkittRegular';
    src: url('assets/fonts/rokkitt-regular-webfont.eot');
    src: url('assets/fonts/rokkitt-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/rokkitt-regular-webfont.woff') format('woff'),
         url('assets/fonts/rokkitt-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/rokkitt-regular-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

