<div class="featured">
   
    <div class="featured-text">
      <div class="featured-title">
        {{Titlul_Pagina}}
      </div>      
      <div>
        <div class="text-container">
          <div class="half">
            <img src="assets/images/raluca.jpg" alt="raluca" class="float-left">
            @for (paragraf of RalucaParagrafe; track $index) {
              <p>
                {{paragraf}}
              </p>
            }
          </div>
          <div class="half">
            <img src="assets/images/ana.jpg" alt="ana" class="float-right">
            @for (paragraf of AnaParagrafe; track $index) {
              <p>
                {{paragraf}}
              </p>
            }
          </div>
        </div>
      </div>
    </div>
    
</div>
<div class="blog">
    <div class="blog-item">
      <img class="blog-img" src="assets/images/cursuri.png" alt="comentariu">
      <h3>{{Titlul_Article1}}</h3>
      <p>
        {{Summary_Article1}}
      </p>
      <a class="blog-read-more" routerLink="/article-1">{{Citeste_Mai_Mult}}</a>
    </div>

    <div class="blog-item">
        <img class="blog-img" src="assets/images/cursuri.png" alt="comentariu">
        <h3>{{Titlul_Article2}}</h3>
        <p>
            {{Summary_Article2}}
        </p>
        <a class="blog-read-more" routerLink="/article-2">{{Citeste_Mai_Mult}}</a>
    </div>

    <div class="blog-item">      
      <img class="blog-img" src="assets/images/cursuri.png" alt="comentariu">      
      <h3>{{Titlul_Article3}}</h3>
      <p>
        {{Summary_Article3}}
      </p>
      <a class="blog-read-more" routerLink="/library-item-3">{{Citeste_Mai_Mult}}</a>
    </div>
</div>
  